* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family: cursive;
    color: rgb(76, 74, 74);
}

body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: beige;

}

.outside {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {

    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);

    width: 600px;
    height: 600px;
        
    border: 1px solid red;
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 8px;
    top:50px;
        
}



.div{
    background: white;
    border: 1px solid black;
}



